{% extends 'base.html' %}

{% block page_title %}
    <title>Population</title>
{% endblock page_title %}

{% block custom_css %}
    <link rel="stylesheet" href="/static/assets/vendor/charts/c3charts/c3.css">
{% endblock custom_css %}

{% block main_content %}
            <div class="container-fluid  dashboard-content">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">남녀 분포 그래프 (2015년 ~ 2019년)</h5>
                            <div class="card-body">
                                <div id="c3chart_spline"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body border-top">
                                <form id=futureForm>
                                    <h5>Inline Radio</h5>
                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input id="radio01" type="radio" name="radio" checked=True class="custom-control-input"><span class="custom-control-label">1. 총인구</span>
                                    </label>
                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input id="radio02" type="radio" name="radio" class="custom-control-input"><span class="custom-control-label">2. 0 ~ 14세 </span>
                                    </label>
                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input id="radio03" type="radio" name="radio" class="custom-control-input"><span class="custom-control-label">3. 15 ~ 64세</span>
                                    </label>
                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input id="radio04" type="radio" name="radio" class="custom-control-input"><span class="custom-control-label">4. 65세 이상</span>
                                    </label>
                                </form>
                            </div>
                            <h5 class="card-header">인구 예측 그래프 (2015년 ~ 2067년)</h5>
                            <div class="card-body">
                                <div id="c3chart_area"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Stacked Bar </h5>
                            <div class="card-body">
                                <div id="c3chart_stacked"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock main_content %}

{% block custom_js %}
    <script src="/static/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/static/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="/static/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="/static/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <!-- <script src="/static/assets/vendor/charts/c3charts/C3chartjs.js"></script> -->
    <script src="/static/assets/libs/js/main-js.js"></script>

    <script type="text/javascript">
    $(function() {
        // population_past(15년 ~ 19년)
        $.ajax({
            "url": "/population/search/전국",
            "method": "GET",
            "dataType": "json",
            "success": function(data, status, xhr) {

                var total = ['총인구']
                var man = ['남자']
                var woman = ['여자']
                
                total.push(data[0].total2015)
                total.push(data[0].total2016)
                total.push(data[0].total2017)
                total.push(data[0].total2018)
                total.push(data[0].total2019)
                man.push(data[0].man2015)
                man.push(data[0].man2016)
                man.push(data[0].man2017)
                man.push(data[0].man2018)
                man.push(data[0].man2019)
                woman.push(data[0].woman2015)
                woman.push(data[0].woman2016)
                woman.push(data[0].woman2017)
                woman.push(data[0].woman2018)
                woman.push(data[0].woman2019)

                if ($('#c3chart_spline').length) {
                    var chart = c3.generate({
                        bindto: "#c3chart_spline",
                        data: {
                            x: 'x',
                            columns: [
                                ['x', '2015-01-01', '2016-01-01', '2017-01-01', '2018-01-01', '2019-01-01'],
                                man, woman
                            ],
                            type: 'spline',
                            colors: {
                                data1: '#5969ff',
                                data2: '#ff407b',

                            }
                        },
                        axis: {
                            y: {
                                show: true,
                            },
                            x: {
                                type: 'timeseries',
                                tick: {
                                    format: "%Y년"
                                 },
                                show: true,
                            }
                        }
                    });
                }
            },
            "error": function(xhr, status, err) {}
        })

        $('input:radio[name=radio02]').is(':checked')

        // population_future(15년 ~ 67년)
        $.ajax({
            "url": "/population/search/future/2000",
            "method": "GET",
            "dataType": "json",
            "success": function(data, status, xhr) {

                var total = ['총인구']
                var total0_14 = ['0 ~ 14세']
                var total15_64 = ['15 ~ 64세']
                var total65_ = ['65세 이상']

                for (var idx = 0; idx < data.length; idx++) {
                    total.push(data[idx].total)
                    total0_14.push(data[idx].total0_14)
                    total15_64.push(data[idx].total15_64)
                    total65_.push(data[idx].total65_)
                }

                $('input:radio[name=radio01]').is(':checked')

                if ($('#c3chart_area').length) {
                    var chart = c3.generate({
                        bindto: "#c3chart_area",
                        data: {
                            columns: [
                                total
                            ],
                            types: {
                                data1: 'area-spline',
                                // data2: 'area'
                            },
                            colors: {
                                data1: '#a1d53a',
                                // data2: '#ff407b',

                            }

                        },
                        axis: {
                            y: {
                                show: true
                            },
                            x: {
                                show: true
                            }
                        }

                    });
                }

                // $('input:radio[name="radio"]').prop("checked", false);

                $('#radio01').click(function() {
                    draw_chart_age(total)
                });
                $('#radio02').click(function() {
                    draw_chart_age(total0_14)
                });
                $('#radio03').click(function() {
                    draw_chart_age(total15_64)
                });
                $('#radio04').click(function() {
                    draw_chart_age(total65_)
                });
            },
            "error": function(xhr, status, err) {}
        })

        function draw_chart_age(data) {
            if ($('#c3chart_area').length) {
                var chart = c3.generate({
                    bindto: "#c3chart_area",
                    data: {
                        columns: [
                            data
                        ],
                        types: {
                            data1: 'area-spline',
                            // data2: 'area'
                        },
                        colors: {
                            data1: '#a1d53a',
                        }
                    },
                    axis: {
                        y: {
                            show: true
                        },
                        x: {
                            show: true
                        }
                    }

                });
            }
        }

        // age_gender
        $.ajax({
            "url": "/population/search/age/전국",
            "method": "GET",
            "dataType": "json",
            "success": function(data, status, xhr) {

                var age = ['x']
                var man = ['남자']
                var woman = ['여자']

                for (var idx = 1; idx < data.length; idx++) {
                    age.push(data[idx].age)
                    man.push(data[idx].man)
                    woman.push(data[idx].woman * -1)
                }

                if ($('#c3chart_stacked').length) {
                    var chart = c3.generate({
                        bindto: "#c3chart_stacked",

                        data: {
                            columns: [
                                man, woman,
                            ],
                            type: 'bar',
                            groups: [
                                ['data1', 'data2']
                            ],
                            order: 'desc',
                            colors: {
                                data1: '#5969ff',
                                data2: '#ff407b',
                                data3: '#64ced3'

                            }
                        },
                        axis: {
                            y: {
                                show: true,
                            },
                            x: {
                                show: true,
                            }
                        },
                        grid: {
                            y: {
                                lines: [{ value: 0 }]
                            }
                        }
                    });
                }
            },
            "error": function(xhr, status, err) {}
        })
    });
    </script>
{% endblock custom_js %}