{% extends 'base.html' %}

{% block page_title %}
    <title>Surname</title>
{% endblock page_title %}

{% block custom_css %}
    <link rel="stylesheet" href="/static/assets/vendor/datepicker/tempusdominus-bootstrap-4.css" />
    <link rel="stylesheet" href="/static/assets/vendor/inputmask/css/inputmask.css" />
    <link rel="stylesheet" href="/static/assets/vendor/charts/chartist-bundle/chartist.css">
{% endblock custom_css %}

{% block main_content %}
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">검색란</h5>
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="inputText3" class="col-form-label">Input Text</label>
                                        <div class="card-body border-top">
                                            <input id="inputText" type="text" class="form-control btn" />
                                            <a id="btn_search" class="btn btn-outline-primary">Primary</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class="card-header">선택란</h5>
                            <div class="card-body">
                                <table id="search_surname_table" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">성</th>
                                            <th scope="col">본관</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5  class="card-header">출력란</h5>
                            <div class="card-body">
                                <table id="surname_detail_table" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">성씨</th>
                                            <th scope="col">본관</th>
                                            <th scope="col">지역</th>
                                            <th scope="col">인구</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <h5 id="chart-name" class="card-header">차트</h5>
                    <div class="card-body">
                        <div class="ct-chart-scatter-bar ct-golden-section"></div>
                    </div>
                </div>
            </div>
{% endblock main_content %}

{% block custom_js %}
    <!-- Optional JavaScript -->
    <script src="/static/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/static/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="/static/assets/vendor/inputmask/js/jquery.inputmask.bundle.js"></script>
    <script src="/static/assets/vendor/custom-js/jquery.multi-select.html"></script>
    <script src="/static/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- <script src="/static/assets/vendor/charts/chartist-bundle/Chartistjs.js"></script> -->
    <script src="/static/assets/vendor/charts/custom-chart/surname_bar.js"></script>
    <script src="/static/assets/libs/js/main-js.js"></script>

    <script type="text/javascript">
    $(function() {
        $.ajax({
            "url": "/surname/",
            "method": "GET",
            "dataType": "json",
            "success": function(data, status, xhr) {

            },
            "error": function(xhr, status, err) {}
        })
    });

    list_td_names = ['name', 'sur'];
    list_tr_html_str = `<tr>
                        <td></td>
                        <td></td>
                        </tr>`;

    
    $('#btn_search').on('click', function(event) {

        event.preventDefault();
        event.stopPropagation();

        var key = $('#inputText').val(); // 입력한 검색어 읽기

        if (!key) {
            alert('검색어를 입력하세요');
            return;
        }
        key = key.replace('씨', '')

        // alert(key);
        $.ajax({
            "url": "/surname/search/" + key,
            "method": "GET",
            "dataType": "json",
            "success": function(data, status, xhr) {
                
                $('#search_surname_table tbody').empty() // 기존의 TR 태그 제거

                for (var idx = 0; idx < data.length; idx++) { 
                    var tr = $(list_tr_html_str);   // 테이블 행 만들기
                    tr.attr('data-symbol', data[idx].sur + ' ' + data[idx].name) // 테이블 행에 데이터 저장
                    var tds = tr.find('td'); // tr 하위의 td 목록 찾기
                    tds.each(function(i, td) { // python enumerate
                        $(td).text(data[idx][list_td_names[i]])
                    });
                    $('#search_surname_table tbody').append(tr); // 위에서 만든 행을 테이블에 추가
                }

            }, 
            "error": function(xhr, status, err) {
                alert(err);
            }
        });
    });

    detail_td_names = ['name', 'sur', 'region', 'total'];
    detail_tr_html_str = `<tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>`;

    $('#search_surname_table').on('click', 'tr', function(event) { // id가 search_surname_table인 테이블의 tr 태그에 이벤트 연결
        
        event.preventDefault();
        event.stopPropagation();

        var symbol = $(this).attr('data-symbol');

        $.ajax({
            "url": "/surname/detail/" + symbol,
            "method": "GET",
            "dataType": "json",
            "success": function(data, status, xhr) {
                $('#chart-name').text(data[0].sur + " " + data[0].name + '의 인구 분포');
                $('#surname_detail_table tbody').empty();
                var chart_labels = []
                var chart_total = []
                for (var idx = 0; idx < data.length; idx++) { 
                    var tr = $(detail_tr_html_str);   // 테이블 행 만들기
                    tr.attr('data-symbol', data[idx].name) // 테이블 행에 데이터 저장
                    chart_labels.push(data[idx].region.toString())
                    chart_total.push(data[idx].total.toString())
                    var tds = tr.find('td'); // tr 하위의 td 목록 찾기
                    tds.each(function(i, td) { // python enumerate
                        $(td).text(data[idx][detail_td_names[i]])
                    });
                    $('#surname_detail_table tbody').append(tr); // 위에서 만든 행을 테이블에 추가
                }
                show_bar_chart(chart_labels, [chart_total])
            },
            "error": function(xhr, status, err) {
                alert(err);
            }
        })
    });

    var bar_chart = null;
    function show_bar_chart(labels, series) {
        if ($('.ct-chart-scatter-bar').length) {
            new Chartist.Bar('.ct-chart-scatter-bar', {
                labels: labels,
                series: series
            }, {
                stackBars: true,
                axisY: {
                    
                }
            }).on('draw', function(data) {
                if (data.type === 'bar') {
                    data.element.attr({
                        style: 'stroke-width: 30px'
                    });
                }
            });
        }
    }
    </script>
{% endblock custom_js %}